.button {
  font-size: 19px;
}
.code{
  margin:30px;
}
.code h2{
   font-size:19px;
   display:block;
   margin: 12px 0;
 }
.Coding{
   margin:30px;
   list-style: none;
 }
.Coding h3{
  font-size:19px;
  display:block;
  margin: 12px 0;
  display: block;
}
.end{
  margin:30px;
  list-style: none;
}
.end p{
  font-size:19px;
  display:block;
  margin: 12px 0;
}
